<div class="adote background2">
  <div class="banner">
    <img src="../../assets/img/adote.png" alt="banner de doguinho">
  </div>
  <div class="content">
    <h1 class="color1 text-center">Como você imagina seu/sua amigo(a)?</h1>
    <p class="text-center color2 mt-3">Quanto mais informações tivermos, mais chegamos perto do seu par ideal.</p>
    <div class="select center mt-4">
      <button class="canino">Canino</button>
      <button class="felino">Felino</button>
      <button class="indiferente">Indiferente</button>
    </div>
  </div>
</div>