<div class="doe background2">
  <div class="banner">
    <img src="../../assets/img/doe.png" alt="banner de doguinho">
  </div>
  <div class="content">
    <h1 class="color1 text-left">DOE</h1>
    <p class="text-left color1 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, laboriosam. Et provident reiciendis cum perferendis commodi ab quae, velit voluptates? Incidunt, minus voluptates magni rerum porro id provident nesciunt possimus.</p>
    <div class="text-left mt-5">
      <h3 class="color1">Telefone temporário para doar ...</h3>
    </div>
  </div>
</div>