<div class="header">
  <div class="col-md-2">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" >
      <img src="../../../../assets/img/logo1.png" alt="Salva Latas">
    </a>
  </div>
  <div class="col-md-8 menu">
    <ul>
      <li [routerLink]="['/quem-somos']" routerLinkActive="router-link-active" >Quem Somos</li>
      <li [routerLink]="['/adote']" routerLinkActive="router-link-active" >Adote</li>
      <li [routerLink]="['/resgate']" routerLinkActive="router-link-active" >Resgate</li>
      <li [routerLink]="['/doe']" routerLinkActive="router-link-active" >Doe</li>
      <li [routerLink]="['/contato']" routerLinkActive="router-link-active" >Contato</li>
    </ul>
  </div>
  <div class="col-md-2">
    <div class="redes-sociais">
      <div class="instagram">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
      <div class="facebook">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>