<div class="quem-somos">
  <h1>Quem Somos</h1>
  <div class="content">
    <p>
      Julia Gemignani e Priscila Kisiolar, duas amigas que acreditam que todos animais
      merecem um lar, criaram esse canal para que adotantes e protetores se encontrem.
      Com a ajuda de diversos voluntários, o projeto pretende, exclusivamente, dar aos
      protetores e adotantes o suporte necessário na hora de encontrar o par perfeito!
    </p>
    <p>Quer ADOTAR, mas não sabe exatamente qual o pet ideal para você? Te ajudamos!</p>

    <p>Quer RESGATAR, mas não sabe por onde começar? Te orientamos!</p>
  </div>
</div>