/* Padrões de cores do site */

.color1 { color: #6371b1; }
.color2 { color: #ce8567; }
.background1{ background-color: #ffffff; }
.background2{ background-color: #cacfe4; }

/* ------------ */


html {
    height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    font-family: 'Sarabun', sans-serif; 
    margin: 0px;
    padding: 0px;
  }

  body {
    min-height: 100%;
    font-family: 'Sarabun', sans-serif;
    line-height: 1em;
    position: relative;
  }

  h1 {
    font-size: 40px !important;   
    font-family: 'Sarabun', sans-serif;
    margin-bottom: 20px;
    line-height: 20px;
    text-transform: none;
    text-align: center;
  }
  
  h2 {
    font-family: 'Sarabun', sans-serif;
    font-size: 30px !important;
    margin-bottom: 10px;
    font-weight: 500;
  }

  h3 {
    font-size: 25px !important;
  }
  
  h4 {
    font-size: 20px;
  }

  p {
    margin: 10px 0;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }
  
  a:hover {
    text-decoration: none;
    color: #401b03;
  }

  .center {
    text-align: center;
  }
  
  .content {
    padding: 0 250px;
    margin: 50px 0;
  }

 
.banner {
    margin-top: -150px;
}

.banner img {
    height: auto;
    width: 100%;
}
/********************/


@media (max-width: 900px) {
  .content {
    padding: 0 100px;
  }
}

@media (max-width: 500px) {
  .content {
    padding: 0 50px;
  }
}