<div class="resgate">
  <div class="banner">
    <img src="../../assets/img/resgate.png" alt="banner de doguinho">
  </div>
  <div class="content my-5 color2">
    <h1 class="color2 text-left">Resgate</h1>
    <p class="color2 my-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
    veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
    commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero</p>
  </div>
</div>